*.o
*.swp
*~
*.def
*.bin
*.map
*.cdt
*.dsk
*.scr
*.opt
*.rel
*.lk
*.noi
*.lst
*.sym
src/*/*.asm
*.ihx
*.ucl
*.cas
*.rom
*.lib
Makefile.deps
bin/
lib/
game/bin
game/generated
game/build
docs/reference.*
docs/*.html
