image: registry.gitlab.com/reidrac/ubox-msx-lib-ci:latest

stages:
  - lint
  - build
  - test

check:
  stage: lint
  script:
    - black --check --diff .

compile:
  stage: build
  script:
    - make game

test:
  stage: test
  script:
    - make test
