image: registry.gitlab.com/reidrac/ubox-msx-lib-ci:latest

stages:
  - lint
  - build
  - test

lint:
  script:
    - black --check --diff .

build:
  script:
    - make game

test:
  script:
    - make test
